@font-face {
  font-family: 'meucorban-icons';
  src:
    url('fonts/meucorban-icons.ttf?auayup') format('truetype'),
    url('fonts/meucorban-icons.woff?auayup') format('woff'),
    url('fonts/meucorban-icons.svg?auayup#meucorban-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mc-"], [class*=" mc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'meucorban-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mc-connected:before {
  content: "\ea3e";
}
.mc-customer-success:before {
  content: "\ea3f";
}
.mc-desk-location:before {
  content: "\ea40";
}
.mc-disconnected:before {
  content: "\ea41";
}
.mc-payment:before {
  content: "\ea42";
}
.mc-timer:before {
  content: "\ea43";
}
.mc-whatsapp-filled:before {
  content: "\ea44";
  color: #128c7e;
}
.mc-clap .path1:before {
  content: "\ea45";
  color: rgb(178, 136, 62);
}
.mc-clap .path2:before {
  content: "\ea46";
  margin-left: -0.9423828125em;
  color: rgb(255, 221, 103);
}
.mc-clap .path3:before {
  content: "\ea47";
  margin-left: -0.9423828125em;
  color: rgb(255, 221, 103);
}
.mc-clap .path4:before {
  content: "\ea48";
  margin-left: -0.9423828125em;
  color: rgb(238, 180, 86);
}
.mc-clap .path5:before {
  content: "\ea49";
  margin-left: -0.9423828125em;
  color: rgb(255, 221, 103);
}
.mc-clap .path6:before {
  content: "\ea4a";
  margin-left: -0.9423828125em;
  color: rgb(238, 180, 86);
}
.mc-clap .path7:before {
  content: "\ea4b";
  margin-left: -0.9423828125em;
  color: rgb(255, 221, 103);
}
.mc-clap .path8:before {
  content: "\ea4c";
  margin-left: -0.9423828125em;
  color: rgb(238, 180, 86);
}
.mc-clap .path9:before {
  content: "\ea4d";
  margin-left: -0.9423828125em;
  color: rgb(255, 221, 103);
}
.mc-clap .path10:before {
  content: "\ea4e";
  margin-left: -0.9423828125em;
  color: rgb(238, 180, 86);
}
.mc-clap .path11:before {
  content: "\ea4f";
  margin-left: -0.9423828125em;
  color: rgb(238, 180, 86);
}
.mc-clap .path12:before {
  content: "\ea50";
  margin-left: -0.9423828125em;
  color: rgb(189, 188, 188);
}
.mc-clap .path13:before {
  content: "\ea51";
  margin-left: -0.9423828125em;
  color: rgb(189, 188, 188);
}
.mc-clap .path14:before {
  content: "\ea52";
  margin-left: -0.9423828125em;
  color: rgb(189, 188, 188);
}
.mc-qr-code:before {
  content: "\ea3d";
}
.mc-activity:before {
  content: "\e900";
}
.mc-airplay:before {
  content: "\e901";
}
.mc-alert-circle:before {
  content: "\e902";
}
.mc-alert-octagon:before {
  content: "\e903";
}
.mc-alert-triangle:before {
  content: "\e904";
}
.mc-align-center:before {
  content: "\e905";
}
.mc-align-justify:before {
  content: "\e906";
}
.mc-align-left:before {
  content: "\e907";
}
.mc-align-right:before {
  content: "\e908";
}
.mc-anchor:before {
  content: "\e909";
}
.mc-android:before {
  content: "\e90a";
}
.mc-aperture:before {
  content: "\e90b";
}
.mc-apple:before {
  content: "\e90c";
}
.mc-archive:before {
  content: "\e90d";
}
.mc-arrow-down:before {
  content: "\e90e";
}
.mc-arrow-down-circle:before {
  content: "\e90f";
}
.mc-arrow-down-left:before {
  content: "\e910";
}
.mc-arrow-down-right:before {
  content: "\e911";
}
.mc-arrow-left:before {
  content: "\e912";
}
.mc-arrow-left-circle:before {
  content: "\e913";
}
.mc-arrow-repeat:before {
  content: "\e914";
}
.mc-arrow-right:before {
  content: "\e915";
}
.mc-arrow-right-circle:before {
  content: "\e916";
}
.mc-arrow-up:before {
  content: "\e917";
}
.mc-arrow-up-circle:before {
  content: "\e918";
}
.mc-arrow-up-left:before {
  content: "\e919";
}
.mc-arrow-up-right:before {
  content: "\e91a";
}
.mc-at-sign:before {
  content: "\e91b";
}
.mc-auto-typing:before {
  content: "\e91c";
}
.mc-award:before {
  content: "\e91d";
}
.mc-bank:before {
  content: "\e91e";
}
.mc-bar-chart:before {
  content: "\e91f";
}
.mc-bar-chart-2:before {
  content: "\e920";
}
.mc-battery:before {
  content: "\e921";
}
.mc-battery-charging:before {
  content: "\e922";
}
.mc-bell:before {
  content: "\e923";
}
.mc-bell-off:before {
  content: "\e924";
}
.mc-bluetooth:before {
  content: "\e925";
}
.mc-bold:before {
  content: "\e926";
}
.mc-book:before {
  content: "\e927";
}
.mc-bookmark:before {
  content: "\e928";
}
.mc-book-open:before {
  content: "\e929";
}
.mc-box:before {
  content: "\e92a";
}
.mc-branch:before {
  content: "\e92b";
}
.mc-briefcase:before {
  content: "\e92c";
}
.mc-calendar:before {
  content: "\e92d";
}
.mc-camera:before {
  content: "\e92e";
}
.mc-camera-off:before {
  content: "\e92f";
}
.mc-cash:before {
  content: "\e930";
}
.mc-cast:before {
  content: "\e931";
}
.mc-chat:before {
  content: "\e932";
}
.mc-check:before {
  content: "\e933";
}
.mc-check-circle:before {
  content: "\e934";
}
.mc-check-circle2:before {
  content: "\e935";
}
.mc-check-square:before {
  content: "\e936";
}
.mc-chevron-down:before {
  content: "\e937";
}
.mc-chevron-left:before {
  content: "\e938";
}
.mc-chevron-right:before {
  content: "\e939";
}
.mc-chevrons-down:before {
  content: "\e93a";
}
.mc-chevrons-left:before {
  content: "\e93b";
}
.mc-chevrons-right:before {
  content: "\e93c";
}
.mc-chevrons-up:before {
  content: "\e93d";
}
.mc-chevron-up:before {
  content: "\e93e";
}
.mc-chrome:before {
  content: "\e93f";
}
.mc-circle:before {
  content: "\e940";
}
.mc-city-halls:before {
  content: "\e941";
}
.mc-clipboard:before {
  content: "\e942";
}
.mc-clock:before {
  content: "\e943";
}
.mc-cloud:before {
  content: "\e944";
}
.mc-cloud-drizzle:before {
  content: "\e945";
}
.mc-cloud-lightning:before {
  content: "\e946";
}
.mc-cloud-off:before {
  content: "\e947";
}
.mc-cloud-rain:before {
  content: "\e948";
}
.mc-cloud-snow:before {
  content: "\e949";
}
.mc-code:before {
  content: "\e94a";
}
.mc-codepen:before {
  content: "\e94b";
}
.mc-codesandbox:before {
  content: "\e94c";
}
.mc-coffee:before {
  content: "\e94d";
}
.mc-columns:before {
  content: "\e94e";
}
.mc-command:before {
  content: "\e94f";
}
.mc-companies:before {
  content: "\e950";
}
.mc-compass:before {
  content: "\e951";
}
.mc-copy:before {
  content: "\e952";
}
.mc-corner-down-left:before {
  content: "\e953";
}
.mc-corner-down-right:before {
  content: "\e954";
}
.mc-corner-left-down:before {
  content: "\e955";
}
.mc-corner-left-up:before {
  content: "\e956";
}
.mc-corner-right-down:before {
  content: "\e957";
}
.mc-corner-right-up:before {
  content: "\e958";
}
.mc-corner-up-left:before {
  content: "\e959";
}
.mc-corner-up-right:before {
  content: "\e95a";
}
.mc-cpu:before {
  content: "\e95b";
}
.mc-credit-card:before {
  content: "\e95c";
}
.mc-crop:before {
  content: "\e95d";
}
.mc-crosshair:before {
  content: "\e95e";
}
.mc-database:before {
  content: "\e95f";
}
.mc-delete:before {
  content: "\e960";
}
.mc-disc:before {
  content: "\e961";
}
.mc-divide:before {
  content: "\e962";
}
.mc-divide-circle:before {
  content: "\e963";
}
.mc-divide-square:before {
  content: "\e964";
}
.mc-documents:before {
  content: "\e965";
}
.mc-dollar-sign:before {
  content: "\e966";
}
.mc-download:before {
  content: "\e967";
}
.mc-download-cloud:before {
  content: "\e968";
}
.mc-dribbble:before {
  content: "\e969";
}
.mc-droplet:before {
  content: "\e96a";
}
.mc-edit:before {
  content: "\e96b";
}
.mc-edit-2:before {
  content: "\e96c";
}
.mc-edit-3:before {
  content: "\e96d";
}
.mc-emoji-angry:before {
  content: "\e96e";
}
.mc-emoji-frown:before {
  content: "\e96f";
}
.mc-emoji-heart-eyes:before {
  content: "\e970";
}
.mc-emoji-neutral:before {
  content: "\e971";
}
.mc-emoji-sunglasses:before {
  content: "\e972";
}
.mc-exclamation-triangle:before {
  content: "\e973";
}
.mc-external-link:before {
  content: "\e974";
}
.mc-eye:before {
  content: "\e975";
}
.mc-eye-off:before {
  content: "\e976";
}
.mc-facebook:before {
  content: "\e977";
}
.mc-fast-forward:before {
  content: "\e978";
}
.mc-feather:before {
  content: "\e979";
}
.mc-figma:before {
  content: "\e97a";
}
.mc-file:before {
  content: "\e97b";
}
.mc-file-minus:before {
  content: "\e97c";
}
.mc-file-plus:before {
  content: "\e97d";
}
.mc-file-text:before {
  content: "\e97e";
}
.mc-film:before {
  content: "\e97f";
}
.mc-filter:before {
  content: "\e980";
}
.mc-flag:before {
  content: "\e981";
}
.mc-folder:before {
  content: "\e982";
}
.mc-folder-minus:before {
  content: "\e983";
}
.mc-folder-plus:before {
  content: "\e984";
}
.mc-framer:before {
  content: "\e985";
}
.mc-frown:before {
  content: "\e986";
}
.mc-gift:before {
  content: "\e987";
}
.mc-git-branch:before {
  content: "\e988";
}
.mc-git-commit:before {
  content: "\e989";
}
.mc-github:before {
  content: "\e98a";
}
.mc-gitlab:before {
  content: "\e98b";
}
.mc-git-merge:before {
  content: "\e98c";
}
.mc-git-pull-request:before {
  content: "\e98d";
}
.mc-globe:before {
  content: "\e98e";
}
.mc-governments:before {
  content: "\e98f";
}
.mc-grid:before {
  content: "\e990";
}
.mc-hard-drive:before {
  content: "\e991";
}
.mc-hash:before {
  content: "\e992";
}
.mc-headphones:before {
  content: "\e993";
}
.mc-heart:before {
  content: "\e994";
}
.mc-help-circle:before {
  content: "\e995";
}
.mc-hexagon:before {
  content: "\e996";
}
.mc-home:before {
  content: "\e997";
}
.mc-hotlink:before {
  content: "\e998";
}
.mc-house:before {
  content: "\e999";
}
.mc-image:before {
  content: "\e99a";
}
.mc-inbox:before {
  content: "\e99b";
}
.mc-income:before {
  content: "\e99c";
}
.mc-info:before {
  content: "\e99d";
}
.mc-instagram:before {
  content: "\e99e";
}
.mc-italic:before {
  content: "\e99f";
}
.mc-key:before {
  content: "\e9a0";
}
.mc-layers:before {
  content: "\e9a1";
}
.mc-layout:before {
  content: "\e9a2";
}
.mc-life-buoy:before {
  content: "\e9a3";
}
.mc-link:before {
  content: "\e9a4";
}
.mc-link-2:before {
  content: "\e9a5";
}
.mc-linkedin:before {
  content: "\e9a6";
}
.mc-list:before {
  content: "\e9a7";
}
.mc-loader:before {
  content: "\e9a8";
}
.mc-lock:before {
  content: "\e9a9";
}
.mc-log-in:before {
  content: "\e9aa";
}
.mc-log-out:before {
  content: "\e9ab";
}
.mc-mail:before {
  content: "\e9ac";
}
.mc-map:before {
  content: "\e9ad";
}
.mc-map-pin:before {
  content: "\e9ae";
}
.mc-margin:before {
  content: "\e9af";
}
.mc-maximize:before {
  content: "\e9b0";
}
.mc-maximize-2:before {
  content: "\e9b1";
}
.mc-meh:before {
  content: "\e9b2";
}
.mc-menu:before {
  content: "\e9b3";
}
.mc-message-circle:before {
  content: "\e9b4";
}
.mc-message-square:before {
  content: "\e9b5";
}
.mc-mic:before {
  content: "\e9b6";
}
.mc-mic-off:before {
  content: "\e9b7";
}
.mc-military:before {
  content: "\e9b8";
}
.mc-minimize:before {
  content: "\e9b9";
}
.mc-minimize-2:before {
  content: "\e9ba";
}
.mc-minus:before {
  content: "\e9bb";
}
.mc-minus-circle:before {
  content: "\e9bc";
}
.mc-minus-square:before {
  content: "\e9bd";
}
.mc-monitor:before {
  content: "\e9be";
}
.mc-moon:before {
  content: "\e9bf";
}
.mc-more-horizontal:before {
  content: "\e9c0";
}
.mc-more-vertical:before {
  content: "\e9c1";
}
.mc-mouse-pointer:before {
  content: "\e9c2";
}
.mc-move:before {
  content: "\e9c3";
}
.mc-music:before {
  content: "\e9c4";
}
.mc-navigation:before {
  content: "\e9c5";
}
.mc-navigation-2:before {
  content: "\e9c6";
}
.mc-octagon:before {
  content: "\e9c7";
}
.mc-other-covenants:before {
  content: "\e9c8";
}
.mc-package:before {
  content: "\e9c9";
}
.mc-paperclip:before {
  content: "\e9ca";
}
.mc-partner:before {
  content: "\e9cb";
}
.mc-pause:before {
  content: "\e9cc";
}
.mc-pause-circle:before {
  content: "\e9cd";
}
.mc-pen-tool:before {
  content: "\e9ce";
}
.mc-percent:before {
  content: "\e9cf";
}
.mc-phone:before {
  content: "\e9d0";
}
.mc-phone-call:before {
  content: "\e9d1";
}
.mc-phone-forwarded:before {
  content: "\e9d2";
}
.mc-phone-incoming:before {
  content: "\e9d3";
}
.mc-phone-missed:before {
  content: "\e9d4";
}
.mc-phone-off:before {
  content: "\e9d5";
}
.mc-phone-outgoing:before {
  content: "\e9d6";
}
.mc-pie-chart:before {
  content: "\e9d7";
}
.mc-play:before {
  content: "\e9d8";
}
.mc-play-circle:before {
  content: "\e9d9";
}
.mc-plus:before {
  content: "\e9da";
}
.mc-plus-circle:before {
  content: "\e9db";
}
.mc-plus-square:before {
  content: "\e9dc";
}
.mc-pocket:before {
  content: "\e9dd";
}
.mc-power:before {
  content: "\e9de";
}
.mc-printer:before {
  content: "\e9df";
}
.mc-radio:before {
  content: "\e9e0";
}
.mc-refresh-ccw:before {
  content: "\e9e1";
}
.mc-refresh-cw:before {
  content: "\e9e2";
}
.mc-repeat:before {
  content: "\e9e3";
}
.mc-rewind:before {
  content: "\e9e4";
}
.mc-rg:before {
  content: "\e9e5";
}
.mc-rotate-ccw:before {
  content: "\e9e6";
}
.mc-rotate-cw:before {
  content: "\e9e7";
}
.mc-rss:before {
  content: "\e9e8";
}
.mc-save:before {
  content: "\e9e9";
}
.mc-scissors:before {
  content: "\e9ea";
}
.mc-search:before {
  content: "\e9eb";
}
.mc-send:before {
  content: "\e9ec";
}
.mc-server:before {
  content: "\e9ed";
}
.mc-settings:before {
  content: "\e9ee";
}
.mc-share:before {
  content: "\e9ef";
}
.mc-share-2:before {
  content: "\e9f0";
}
.mc-shield:before {
  content: "\e9f1";
}
.mc-shield-off:before {
  content: "\e9f2";
}
.mc-shopping-bag:before {
  content: "\e9f3";
}
.mc-shopping-cart:before {
  content: "\e9f4";
}
.mc-shuffle:before {
  content: "\e9f5";
}
.mc-sidebar:before {
  content: "\e9f6";
}
.mc-skip-back:before {
  content: "\e9f7";
}
.mc-skip-forward:before {
  content: "\e9f8";
}
.mc-slack:before {
  content: "\e9f9";
}
.mc-slash:before {
  content: "\e9fa";
}
.mc-sliders:before {
  content: "\e9fb";
}
.mc-smartphone:before {
  content: "\e9fc";
}
.mc-smile:before {
  content: "\e9fd";
}
.mc-speaker:before {
  content: "\e9fe";
}
.mc-square:before {
  content: "\e9ff";
}
.mc-star:before {
  content: "\ea00";
}
.mc-stop-circle:before {
  content: "\ea01";
}
.mc-sun:before {
  content: "\ea02";
}
.mc-sunrise:before {
  content: "\ea03";
}
.mc-sunset:before {
  content: "\ea04";
}
.mc-table:before {
  content: "\ea05";
}
.mc-tablet:before {
  content: "\ea06";
}
.mc-tag:before {
  content: "\ea07";
}
.mc-target:before {
  content: "\ea08";
}
.mc-terminal:before {
  content: "\ea09";
}
.mc-thermometer:before {
  content: "\ea0a";
}
.mc-thumbs-down:before {
  content: "\ea0b";
}
.mc-thumbs-up:before {
  content: "\ea0c";
}
.mc-toggle-left:before {
  content: "\ea0d";
}
.mc-toggle-right:before {
  content: "\ea0e";
}
.mc-tool:before {
  content: "\ea0f";
}
.mc-trash:before {
  content: "\ea10";
}
.mc-trash-2:before {
  content: "\ea11";
}
.mc-trello:before {
  content: "\ea12";
}
.mc-trending-down:before {
  content: "\ea13";
}
.mc-trending-up:before {
  content: "\ea14";
}
.mc-triangle:before {
  content: "\ea15";
}
.mc-truck:before {
  content: "\ea16";
}
.mc-tutorial:before {
  content: "\ea17";
}
.mc-tv:before {
  content: "\ea18";
}
.mc-twitch:before {
  content: "\ea19";
}
.mc-twitter:before {
  content: "\ea1a";
}
.mc-type:before {
  content: "\ea1b";
}
.mc-umbrella:before {
  content: "\ea1c";
}
.mc-underline:before {
  content: "\ea1d";
}
.mc-unlock:before {
  content: "\ea1e";
}
.mc-upload:before {
  content: "\ea1f";
}
.mc-upload-cloud:before {
  content: "\ea20";
}
.mc-user:before {
  content: "\ea21";
}
.mc-user-check:before {
  content: "\ea22";
}
.mc-user-minus:before {
  content: "\ea23";
}
.mc-user-plus:before {
  content: "\ea24";
}
.mc-users:before {
  content: "\ea25";
}
.mc-user-x:before {
  content: "\ea26";
}
.mc-video:before {
  content: "\ea27";
}
.mc-video-off:before {
  content: "\ea28";
}
.mc-voicemail:before {
  content: "\ea29";
}
.mc-volume:before {
  content: "\ea2a";
}
.mc-volume-1:before {
  content: "\ea2b";
}
.mc-volume-2:before {
  content: "\ea2c";
}
.mc-volume-x:before {
  content: "\ea2d";
}
.mc-watch:before {
  content: "\ea2e";
}
.mc-whatsapp:before {
  content: "\ea2f";
}
.mc-wifi:before {
  content: "\ea30";
}
.mc-wifi-off:before {
  content: "\ea31";
}
.mc-wind:before {
  content: "\ea32";
}
.mc-windows:before {
  content: "\ea33";
}
.mc-x:before {
  content: "\ea34";
}
.mc-x-circle:before {
  content: "\ea35";
}
.mc-x-octagon:before {
  content: "\ea36";
}
.mc-x-square:before {
  content: "\ea37";
}
.mc-youtube:before {
  content: "\ea38";
}
.mc-zap:before {
  content: "\ea39";
}
.mc-zap-off:before {
  content: "\ea3a";
}
.mc-zoom-in:before {
  content: "\ea3b";
}
.mc-zoom-out:before {
  content: "\ea3c";
}
